h1{
  text-align: center;
  font-size: 80px;
}
.card {
    /* border: 1px solid var(--softer-color); */
    box-shadow: 1px 1px 5px var(--softer-color);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
.contenedor{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  margin: 50px;
  padding: auto;
}